

#starship-link {
    color: white;
    /* color: black; */
    height: 10%;
    width: 10%;
    background: rgb(81, 14, 238);
    margin: 2%;
    border-radius: 10px;
    padding: 3%;
    text-decoration: none;
}

#starships {
    display: flex;
    flex-flow: row wrap;
}